body {
    margin: 0;
    padding: 0;
    background-image: url(../imgs/beerbeerbeer.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
}
  
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
  
  .row {margin: 0 -5px;}
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Navbar */
nav {
    text-shadow: 2px 2px 2px #000;
    background-color: rgba(180, 180, 180, 0.3);
    z-index: 10;
}

.flex-container {
    height: 100%;
    width: auto;
    display: inline-flex;
    align-items: center;
}

.navLink {
    font-family: 'Teko', sans-serif;
    font-size: 26px;
    margin-left: 30px;
    margin-top: 6px;
}

/* Sidenav menu when expanded from hamburger */
#mobile-menu {
    background-color: #F2C351;
}

.navMobMenu {
    font-family: 'Teko', sans-serif;
    font-size: 40px !important;
    text-shadow: 0px 0px 0px ;
    margin: 20px 0 !important;
}

.brand-logo {
    font-family: 'Lobster', cursive;
    font-size: 38px;
    letter-spacing: 1px;
}

.navLink {
    font-family: 'Teko', sans-serif;
    font-size: 26px;
    margin-left: 30px;
    margin-top: 6px;
}

  
    /*@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    */

    body {
        background-attachment: none;
        background-position: right;
    }
    
h2{
    font-family: 'Kalam', cursive;
    text-align: center;

}

#bodyText {
    display: block;
    text-align: center;
}
  


.card-container {
    position: relative;
    width: 50%;
    display: flex;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 171, 64, .7);
  }
  
  .card-container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    text-shadow: 2px, 2px, 2px, #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    height: 350px;
    text-align: center;
    background-color: rgba(228, 228, 228, 0.5)
    
}

.bioPic {
    display: block;
    max-width: 100%;
    max-height: 100%:
}

footer {
    position: fixed;
    bottom: 0;
    background-color:rgba(242, 195, 81, 0.5);
    width: 100%;
    height: 30px;
}

.footer {
    text-align: center;
    padding: 0;
    font-size: 10px;
}

