body {
    margin: 0;
    padding: 0;
    background-image: url(../imgs/beerbeerbeer.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
}
  
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
  
  .row {margin: 0 -5px;}
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Navbar */
nav {
    text-shadow: 2px 2px 2px #000;
    background-color: rgba(180, 180, 180, 0.3);
    z-index: 10;
}

.flex-container {
    height: 100%;
    width: auto;
    display: inline-flex;
    align-items: center;
}

.brand-logo {
    font-family: 'Lobster', cursive;
    font-size: 38px;
    letter-spacing: 1px;
}

.navLink {
    font-family: 'Teko', sans-serif;
    font-size: 26px;
    margin-left: 30px;
    padding-top: 6px;
}

/* Sidenav menu when expanded from hamburger */
#mobile-menu {
    background-color: #F2C351;
}

.navMobMenu {
    font-family: 'Teko', sans-serif;
    font-size: 40px !important;
    text-shadow: 0px 0px 0px ;
    margin: 20px 0 !important;
}
  
 body {
    background-attachment: none;
    background-position: right;
    }

 #aboutHeader {
     font-size: 56px;
     font-weight: 600;
     font-family: 'Titillium Web', sans-serif;
 }   
    
#quote{
    font-family: 'Kalam', cursive;
    text-align: center;

}

#bodyText {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: black;
    text-shadow: 1px 1px 2px whitesmoke;
    /* background-color: rgba(180, 180, 180, 0.2); */
    width: 100%;
    /* border-radius: 10%; */
    padding-bottom: 30px;
}
  
.card-container {
    position: relative;
    width: 50%;
    display: flex;
  }

.aboutImg {
    height: 200px;
    width: auto;
    max-width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 1px black;
    padding: 30px 20px 20px 20px;
    height: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    overflow-y: hidden;
    
}

.name {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600 !important;
    color: whitesmoke;
}

.jobDescription {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: whitesmoke;
}

.funFact {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: whitesmoke;
}

.bioPic {
    display: block;
    max-width: 100%;
    max-height: 100%:
}

footer {
    position: fixed;
    bottom: 0;
    background-color:rgba(242, 195, 81, 0.5);
    width: 100%;
    height: 30px;
}

.footer {
    text-align: center;
    padding: 0;
    font-size: 10px;
}
