/* utility hide class  */

.hide {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
}

nav {
    position: absolute;
    z-index: 10;
    padding-top: 10px;
    text-shadow: 2px 2px 2px #000000;
}


#beerImage {
    width: 100%;
    height: auto
}

#my-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.my-marker {
 height: 46px;
 width: 31px;
 cursor: pointer;
}
.beer {
height: 69px;
width: 47px;
background-image: url(https://api.geoapify.com/v1/icon/?type=awesome&color=%2372a2d4&size=x-large&icon=beer&apiKey=425ab7232cfd4b4daef2517d6b92595b);
cursor: pointer;
}

/* Sidebar */
#sideBar {
    margin-top: 68px;
    max-height: 90vh;
    background: rgba(0, 0, 0, .5)
}

.searchBox {
    display: flex;
    align-items: center;
}

.breweryData {
    max-height: 70vh;
    overflow-y: auto;
}

.searchInput {
    color: whitesmoke;
}
